/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require articleIndex
 *= require navbar
 *= require articleshow
 *= require_self
 *= require articleForm
 */
 body {
   /*font-family: 'Dosis', sans-serif;*/
   font-family: 'Pontano Sans', sans-serif;
   color: white;
 }



 .login-form {
   font-family: 'Dosis', sans-serif;
   width: 730px;
   padding: 110px;
   font-size: 40px;
 }

input[type=text] {
    width: 65%;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    font-family: inherit;
    font-weight: inherit;
}
input[type=password] {
    width: 65%;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
    font-family: inherit;
    font-weight: inherit;
}

input[type=submit] {
  width: 100%;
  font-size: 35px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  border: 5px solid white;
  border-radius: 10px;
  box-sizing: border-box;
}

input[type=submit]:hover {
  background-color: black;
  color: #66ffff;
  box-sizing: border-box;
}

label {
  font-weight: 600;
}

div#login-signup-guest {
    margin: 0 auto;
    width: 82%;
    text-align: center;
}

div.errors {
    padding-bottom: 20px;
    font-size: 30px;
}

div#login-signup-guest > button {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    font-weight: 600;
}
div#login-signup-guest > button:hover {
  color: #66ffff;
}

 h1 {
   font-size: 120px;
   text-shadow: 2px 2px;
   font-weight: 300;
   margin: 0 auto;
   width: 100%;
 }
 .splash {
    background-image: url(https://pixabay.com/static/uploads/photo/2015/05/20/06/00/book-774837_960_720.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  color: black;
}


div.errors > li {
  padding-bottom: 0;
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}
