div#index {
  color: black;
  padding: 0 auto;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  font-size: 17px;
  background-color: white;
}

div#side-panel {
    height: 100%;
    width: 900px;
    box-sizing: border-box;
    margin-top: 10px;
}

li {
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    width: 100%

}

li:hover {
  box-shadow: 1px 1px 1px 1px;
  cursor: pointer;
}

li > h2 {
  margin: 10px 0;
  font-weight: normal;
  font-family: 'Dosis', sans-serif;
}

div#article-author {
  font-size: 14px;
  display: inline;
  color: #00BCD4;
}



span#together{
  color: #66ffff;
}

div#posted-text {
  font-size: 14px;
  display: inline;
}

div#articles {
  width: 75%;

}

div.whole-container {
  background-image: url(http://res.cloudinary.com/dzpkgj9f0/image/upload/v1467937125/book-774837_960_720_pvf6is.jpg);
  background-size: cover;
  height: 400px;
  background-position: center center;
  /*background-attachment: fixed;*/
}

div#index-splash {

  height: 20%;
  padding-top: 8px;
  padding-left: 44px;

}

div#index-splash > h2 {
  font-size: 55px;
  margin-bottom: 5px;
  padding-bottom: 0px;
  font-family: 'Dosis', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: 300;
  text-shadow: 2px 2px;
  margin-top: 10%
}

pre#article-body {
  font-family: 'Pontano Sans', sans-serif;
  white-space: pre-wrap;
}

div#index-splash > h3 {
  font-size: 27px;
  width: 550px;
  padding-left: 0px;
  margin-top: 10px;
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}

.overlay-index {
  height: 100%;
  width: 100%;


}

.create-group-form {
    margin: 88px 5% 0 10%;
    border: 1px solid lightgray;
    padding: 2%;
    border-radius: 20px;
    width: 200px;
    font-family: 'Pontano Sans', sans-serif;
    background-color: #f2f2f2;
}

.create-group-form:hover {
  box-shadow: 2px 2px 2px gray;
}

.create-group-form > h2 {
  text-align: center;
  margin-top: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}


textarea#create-group-name {
    font-size: 14px;
    margin-bottom: 5px;
    height: 40px;
    border-top: 1px solid lightgray;
    padding-left: 0;
}

.dropdown-content.group-user-search {
    box-shadow: 5px 2px 2px gray;
    border: 1px solid lightgray;
    position: relative;
    margin-top: 5px;
    min-width: 0px;
    left: -3px;
}

a.group-search-result {
    margin-left: 25%;
}

label#select-users {
  font-size: 14px;
}

img.delete-group-user {
  height: 10px;
  width: auto;
  display: inline-block;
}

img.delete-group-user:hover {
  cursor: pointer;
}

p.create-group-users {
  margin-left: 5%;
  display: inline-block;
}

.search-bar.group-search {
    margin: 0 auto;
    margin-top: 10px;
    width: 60%;
    background-color: white;
}

button.create-group-button {
    margin: 0 auto;
    text-align: center;
    width: 159px;
    border: 1px solid lime;
    padding: 5px;
    border-radius: 20px;
}
button.create-group-button:hover {
  background-color: #33cc33;;
  color: white;
}

div.sr:hover {
  background-color: #f2f2f2;
}



div.create-group-form > div.my-groups > h2 {
  font-weight: normal;
  text-align: center;
}

li.group-name {
    font-size: 14px;
    width: 115px;
    background-color: inherit;
}
