div#article-show-container {
  color: black;
}


div#article-show-image > img {
  position: absolute;

  z-index: -1;
  opacity: 0.7;
}

div#article-show-title > h1 {
  font-size: 70px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  position: relative;
  top: 100px;
}

div#article-content-container {
    position: relative;
    top: 200px;
    background-color: white;

}

div#article-show-user > img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  border: 3px solid black;
  position: relative;
  top: -60px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

div#article-show-user {
  text-align: center;
  color: #33cc33;
}

div#article-show-user > h3 {
  text-align: center;
  position: relative;
  top: -80px;
}
div#article-show-user > span {
  color: black;
}

button#edit-article {
  color: #66ffff;
  border: 2px solid #66ffff;
  font-size: 17px;
  font-family: 'Pontano Sans', sans-serif;
  padding: 10px 20px;
  margin: 20px 20px;
  border-radius: 20px;
  width: 50px;
  text-align: center;

}

button#delete-article {
  color: red;
  border: 2px solid red;
  font-size: 17px;
  font-family: 'Pontano Sans', sans-serif;
  padding: 10px 20px;
  margin: 20px 0;
  border-radius: 20px;
  width: 50px;
  text-align: center;
}


#article-buttons{
  margin: 0 auto;
  width: 230px;
  position: relative;
  margin-bottom: 10px;
  top: -80px;
}


div#article-and-sidebar {
    width: 100%;
}

#tools-sidebar {
    border-left: 1px solid gray;
    width: 298px;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: blue;
    right: 0;
}

.tools-sidebar {
    border-left: 1px solid gray;
    width: 20%;
    height: 100vh;
    top: 0;
    right: 0;
    margin-left: 10px;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

pre#article {
  position: relative;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  white-space: pre-wrap;
  width: 101%;
}

pre#ghost-article {
  position: absolute;
  z-index: 1;
  color: transparent;;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  white-space: pre-wrap;
  /*width: 81%;*/
}

div.show-body {
  position:relative;
  top: -80px;
  padding: 0 5% 0 10%;
  width: 65%;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  white-space: pre-wrap;

}

.edit-delete {
    margin: 20px 20px;
    padding-bottom: 20px;
    font-size: 14px;
    display: block;
    width: 80%;
    border-bottom: 1px solid grey;
}

.edit-delete:hover {
  font-weight: bold;
}


div#article-edit-title {
    margin: 0 auto;
    width: 70%;
}

textarea#edit-title {
    font-size: 70px;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    position: relative;
    top: 100px;
    color: black;
    text-shadow: 2px 2px;
    font-weight: 300;
    height: 300px;
    background: rgba(192,192,192,0.5);
}
textarea#edit-body {
    font-size: 17px;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
    width: 750px;
    text-align: left;
    padding: 20px;
    position: relative;
    top: -70px;
    color: black;
    height: 100vh;
    background: rgba(192,192,192,0.5);
}
div#article-edit-body{
  margin: 0 auto;
  width: 80%;
}

.highlighted-text {
  background-color: yellow;
  position: relative;

}

.clicked {
  font-weight: bold;
}

div.create-comment-form {
    padding: 10px;
    position: absolute;
    z-index: 3;
    background-color: white;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 2px 2px 2px grey;
}

.create-comment-body {
  height: 60px;
  font-size: 14px;
}

.comment-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 2%;
  z-index: 10;
}

.create-comment-form.hidden {
  display: none;
}

.highlight-trash {
    height: 15px;
    width: auto;
    display: none;
    position: relative;
    top: -10px;
    z-index: 3;
}
.show-trash {
    height: 10px;
    width: auto;
    display: inline;
    position: absolute;
    top: -5px;
    z-index: 3;
    cursor: pointer;
}

.show-comment {
  position: fixed;
    bottom: 4%;
    right: 0;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    padding: 1%;
    margin: 1%;
    width: 16%;
    font-size: 14px;
    z-index: 10;
    background-color: white;
}
.show-comment > h3 {
    display: inline;
}

.show-comment > p {
    display: inline;
}

textarea.comment-reply {
  font-size: 14px;
}
