<!DOCTYPE html>
<html>
<head>
  <title>Journal Club</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon"
      type="image/png"
      href="http://i.imgur.com/ixBgo1y.png">

  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: "dzpkgj9f0",
      upload_preset: "ebaic4yt"
    };
  </script>

</head>
<body>
  <div id='warning'>
    <h4 class="red">Your Browser Is Not Supported!</h4>
    <p>Please use <a href='http://www.apple.com/safari/'>Safari</a> or <a href='https://www.google.com/chrome/browser/desktop/'>Chrome</a> for optimal expereince. Thank You!&nbsp;&nbsp;&nbsp;<a href="#" onClick="document.getElementById('warning').style.display = 'none';"><br></br><b>Close Window</b></a></p>
  </div>
  <script type="text/javascript">

  // Opera 8.0+
    var isOpera = (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
    // Firefox 1.0+
    var isFirefox = typeof InstallTrigger !== 'undefined';
    // At least Safari 3+: "[object HTMLElementConstructor]"
    var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
    // Internet Explorer 6-11
    var isIE = /*@cc_on!@*/false || !!document.documentMode;
    // Edge 20+
    var isEdge = !isIE && !!window.StyleMedia;
    // Chrome 1+
    var isChrome = !!window.chrome && !!window.chrome.webstore;
    // Blink engine detection
    var isBlink = (isChrome || isOpera) && !!window.CSS;

    if (isChrome || isSafari) {

      $('#warning').css('display', 'none');
    }

</script>


<%= yield %>

</body>
</html>
